.snap-form{
    background: transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 0;
    border-bottom: 2px solid #be5040;
    border-radius: 0;
    color: white;
}
.btn-snap{
    background: transparent;
    border: 0;
    border: 2px solid #be5040;
    color: #be5040;
    margin-top: 30px;
}

.card-snap{
    border: 4px solid #be5504;
    background: transparent;
    color: #be5504;
}

.alert {
    padding: 4px 10px;
    font-size: 14px;
    color: white;
}

.active {
    background: darkgreen;
}

.deactive {
    background: orange;
}

header {
    background-color: #be5504;
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);*/
    display: flex;
    justify-content: space-between;
   width: 100%;

}
.dokkle{
    /*background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?cs=srgb&dl=pexels-felix-mittermeier-956999.jpg&fm=jpg");*/
    display: flex;
    background: #000;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    /*position: fixed;*/
    /*z-index: 4;*/
   /*background-attachment:fixed ;*/


}
.dokkle ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /*padding-right: 30px;*/
}
.dokkle ul li{
    color: #be5504;
    font-size: 20px;
    padding-right: 30px;
    margin-top: 5px;
    font-family: sans-serif;
    transition: 0.5s;
}
.dokkle ul li:hover{
    cursor:pointer;
    color: white;
}
.dokkle div img{
    width: 100px;
    animation: 1s animated1 infinite linear;


    /*height: 50px;*/
}

.dokkle span, i:hover{
    cursor:pointer;

}
.dokkle i:hover{
    font-size: 45px;
}

.dokkle span:hover{


}
.dokkle i{
    font-size: 35px;
    /*margin-right: 20px;*/
    padding-left: 20px;
    transition: 0.5s;
    color: #be5504;
}

.dokkle span{
    /*margin-left: 20px;*/
    color: #be5504;
}
.subm{

    width: 150px;
    /*height: 50px;*/
    background: white;
    margin-top: 100px;
    /*margin-right: 50px;*/
    position: absolute;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    /*display: block;*/

    right: 250px;
    top: -30px;
    /*opacity: 0;*/
    cursor: pointer;
    transition: 0.5s;
    display: none;

}


.subm ul{
    list-style: none;
}
.subm ul li{
    font-size: 20px;
    transition: 0.5s;
    font-family: sans-serif;
    padding-top: 5px;
}
.subm ul li:hover{
    border-bottom: 1px solid black;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    list-style: none;
}

nav a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    color: black;
    position: relative;
}

nav a:hover {
    color: #fff;
}

.menu-toggle {
    display: none;
    background-image: url("menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #555;
    font-size: 18px;
}

.dropdown-toggle:hover {
    color: #000;
}

.dropdown-menu {
    min-width: 130px;
    padding: 10px 0;
    margin: 2px 0 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.dropdown-item {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #555;
    font-size: 16px;
}
.dokkle i:hover + .subm{
    display: block;
}

.dropdown-item:hover {
    background-color: #f6f6f6;
    color: #000;
}

@media (max-width: 768px) {
    body {
        padding-top: 60px;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 60px;
        left: -100%;
        background: #f2f2f2;
        display: flex;
        /*height: calc(100% / 3 - 60px);*/
        /*width: 100;*/
    }

    nav.active {
        left: 0;
        transition: left 0.3s ease-out;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dropdown-toggle {
        margin-left: auto;
    }
}

body{
    background: linear-gradient(to bottom, #000000, #4b4b4b);
}

.title{
    color: #be5504;
    text-align: center;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.form-setting{
    margin-bottom: 50px;
}
.form-setting label{
    color: #be5504;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.form-setting p{
    color: #be5504;
    font-family: sans-serif;
}
.form-setting img{
    margin-top: 15px;
}

i{
    color: black;
}
.navigation-clo{
    width: 300px;
    height: 60px;
    /*display: flex;*/
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
}
.navigation-clo span img{
    width: 35%;
    /*height: 100%;*/
    align-items: center;
    justify-content: center;
    display: flex;
    /*background: black;*/
}
@media (max-width: 1040px){
    .navigation-clo{
    width: 100px;

    }
    .navigation-clo span img{
        width: 100%;
    }
}
.dropdown{
    width: 200px;
}
.dropdown li{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 702px){
    .dokkle ul{
       flex-wrap: wrap;
        /*height: auto;*/
    }

}
